In [166]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import sklearn.tree as tree
import os

In [167]:
# Check workspace
os.getcwd()

'C:\\Users\\Jay_Oliver\\OneDrive - Baylor University\\Documents\\Texas EFlow Spatial 2\\Watershed_Zonal_Statistics\\Processed Data\\Processed Datatables'

In [168]:
my_data = pd.read_csv('Final_Dataset_Testing.csv', delimiter=",")
my_data[0:5]

,Gage ID,Falcone_Non_Falcone,Area,lat,lon,Ref_Non_Ref,Ref_Non_Ref_Binary,Point_Count,Concentration_area,Storage_area,...,Williamson County.6,Wilson County.6,Winkler County.6,Wise County.6,Wood County.6,Woodward County.6,Yoakum County.6,Young County.6,Zapata County.6,Zavala County.6
0,7224500,Falcone,18931.099610,35.408943,-104.169985,Non-ref,0,37,0.001954,46.290342,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7227000,Falcone,29030.031870,35.357002,-103.418023,Non-ref,0,41,0.001412,44.083314,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7227420,Falcone,245.445999,35.751256,-102.893176,Ref,1,0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7227500,Falcone,49264.398440,35.470332,-101.879637,Non-ref,0,82,0.001664,26.618845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7232250,Falcone,2223.540039,36.629753,-102.681591,Non-ref,0,2,0.000899,3.590221,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [169]:
my_data.shape

(531, 2840)

In [170]:
# Check for NAs
my_data.isnull().sum().sum()
# 9722

9722

In [201]:
# Remove columns 
X = my_data.drop(columns = ['Area','Falcone_Non_Falcone','Ref_Non_Ref','Gage ID', 'Ref_Non_Ref_Binary', 'lat', 'lon'])

X.isnull().sum().sum()
# 9722

# Fill NA Values
X = X.fillna(X.mean())

In [200]:
# X as the Feature Matrix (data of my_data)
X = X.values
X[0:5]

array([[3.70000000e+01, 1.95445600e-03, 4.62903424e+01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.10000000e+01, 1.41233200e-03, 4.40833138e+01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [8.20000000e+01, 1.66448800e-03, 2.66188451e+01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.00000000e+00, 8.99467000e-04, 3.59022100e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [173]:
# y as the response vector (target)
y = my_data['Ref_Non_Ref']
y[0:5]

0    Non-ref
1    Non-ref
2        Ref
3    Non-ref
4    Non-ref
Name: Ref_Non_Ref, dtype: object

In [174]:
from sklearn.model_selection import train_test_split

In [175]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3)

In [176]:
# Print the shapes of X_training and y_training data to determine the dimensions match
print('Shape of X training set {}'.format(X_trainset.shape),'&',' Size of Y training set {}'.format(y_trainset.shape))

Shape of X training set (371, 2833) &  Size of Y training set (371,)

In [177]:
# Print the test sets 
print('Shape of X testing set {}'.format(X_testset.shape),'&',' Size of Y testing set {}'.format(y_testset.shape))

Shape of X testing set (160, 2833) &  Size of Y testing set (160,)

In [195]:
Reference_Tree = DecisionTreeClassifier(criterion="entropy", max_depth = 100)

# Fit model
Reference_Tree.fit(X_trainset,y_trainset)

In [197]:
predTree = Reference_Tree.predict(X_testset)

In [198]:
print (predTree [0:5])
print (y_testset [0:5])

['Non-ref' 'Non-ref' 'Non-ref' 'Non-ref' 'Non-ref']
61     Non-ref
241    Non-ref
287    Non-ref
401    Non-ref
169    Non-ref
Name: Ref_Non_Ref, dtype: object

In [194]:
from sklearn import metrics
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.88125